<div class="container">
<h2>PRetend there's an edit page</h2>
  <form action="/posts" method="post">
    Title<input type="text" name="title"/></br>
    Price<input type="text" name="price"/></br>
    Email<input type="text" name="email"/></br>
    Categories:</br>
    <input type="radio" name="category" value="1"/>Furniture</br>
    <input type="radio" name="category" value="2"/>CATS</br>
    Description<input type="text" name="description"/></br>
    <input type="submit" value="Submit"/>
  </form>
</div>
